<!-- <div class="form-group">
	<div class="btn-group custom-dropdown-menu-wrap" dropdown  container="body">
		<button id="button-basic" dropdownToggle type="button" class="custom-dropdown-default-title"
			aria-controls="dropdown-basic">
			{{objRole.RoleName}}
		</button>
        
		 <ul id="basic-link-dropdown" *dropdownMenu class="custom-dropdown-menu dropdown-menu" role="menu"aria-labelledby="basic-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
			<li class="custom-dropdown-menu-list" (click)="updateRole(role)" *ngFor="let role of lstRole;let i=index">
				{{role.RoleName}}
			</li>
		</ul> 
        
	</div>
</div>
 -->

 <div>
    <div>
        <input type="text" class="form-control">
    </div>
 </div>