
<div class="authentiaction-content">
    <div class="card authentication-card">
        <ng-container>
            <div class="logo-image">
                <h1 class="logo">Counseling Center</h1>
            </div>
            <div class="goBack-icon mt-4" (click)="goback()">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.452" height="13.452" viewBox="0 0 13.452 13.452">
                    <g id="arrow-circle-left" transform="translate(-1.125 -1.128)">
                        <path id="Path_7883" data-name="Path 7883"
                            d="M7.851,1.128a6.726,6.726,0,1,0,6.726,6.726A6.726,6.726,0,0,0,7.851,1.128Zm4.122,10.847a5.808,5.808,0,1,1,1.25-1.853,5.808,5.808,0,0,1-1.25,1.853Z"
                            transform="translate(0 0)" fill="#888" />
                        <path id="Path_7884" data-name="Path 7884"
                            d="M13.4,10.644l-.634-.634L9.584,13.2l3.186,3.186.634-.634-2.1-2.1h5.253v-.9H11.3Z"
                            transform="translate(-5.087 -5.342)" fill="#888" />
                    </g>
                </svg>
                <!-- <i class='bx bx-left-arrow-circle font-16'></i> -->
                <span class="goBack m-0">Go Back</span>
            </div>
            <div class="heading-part mt-1">
                <h6 class="text1">Forgot Password</h6>
                <span class="text font-11">
                    Please enter the user name you'd like your password reset information sent to
                </span>
            </div>
            <div class="authentication-form w-100 mb-3">
                <form #f="ngForm" (ngSubmit)="onEmailSubmit()">
                    <div class="form-group">
                        <label class="form-label">Enter User Name</label>
                        <input type="text" id="userName" name="userName" placeholder="User Name" class="form-control"
                            [(ngModel)]="userName" />
                    </div>
                    <button type="submit" class="authentication-button w-100">
                        Reset Password
                    </button>

                </form>
            </div>
        </ng-container>
    </div>
</div>
