<app-ag-grid-layout class="mt-3" [columnDefs]="columnDefs" [gridOptions]="gridOptions" [rowSelection]="rowSelection"
    [isHistory]="true" [saveFilters]="true" [objAction]="[{ name: 'Add New' , className: 'theme-button' }]"
    (onAction)="onAction($event)" [(searchText)]="searchText" [IsSettingShow]="true" [hideImport]="true" [hidedash]="true" [hideformfield]="true" [hideLayout]="true" [hiderefresh]="true">
</app-ag-grid-layout>


<ng-template #roleFormTemplate>
    <app-modal-layout [title]="roleFormTitle"
        [objAction]="[
	{ name: 'Cancel', className: 'modal-cancel-button' }, 
	{ name: 'Save' , className: 'theme-outline-button', disabled: (dataService.destroyForm | async) || !roleForm.valid } ]"
        (onAction)="onSubmitUserForm($event)">
        <form #roleForm="ngForm" autocomplete="off">
            <div class="form-group d-flex align-items-center">
                <label for="Name" class="form-label">Name <span class="text-danger">*</span></label>
                <div class="d-flex gap-2 align-items-center justify-content-between w-100">
                    <span>:</span>
                    <input type="text" id="Name" name="Name" class="form-control" [(ngModel)]="user.Name">
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label for="username_" class="form-label">Username <span class="text-danger">*</span></label>
                <div class="d-flex gap-2 align-items-center justify-content-between w-100">
                    <span>:</span>
                    <input type="text" id="username_" name="username_" class="form-control" [(ngModel)]="user.UserName">
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label for="password_" class="form-label">Password <span class="text-danger">*</span></label>
                <div class="d-flex gap-2 align-items-center justify-content-between w-100">
                    <span>:</span>
                    <input type="text" id="password_" name="password_" class="form-control" [(ngModel)]="user.Password"
                        [disabled]="isEditMode">
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label for="confirm-password" class="form-label">Confirm Password <span
                        class="text-danger">*</span></label>
                <div class="d-flex gap-2 align-items-center justify-content-between w-100">
                    <span>:</span>
                    <input type="text" id="confirm-password" name="confirm-password" class="form-control"
                        [(ngModel)]="user.ConfirmPassword" [disabled]="isEditMode">
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label for="role_" class="form-label">Role <span class="text-danger">*</span></label>
                <div class="d-flex gap-2 align-items-center justify-content-between w-100">
                    <span>:</span>
                    <select name="role_" class="form-select" [(ngModel)]="user.Role">
                        <option class="form-label" value="0">Select</option>
                        <option class="form-label" *ngFor="let role of roles" [value]="role.RoleID">{{ role.RoleName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label for="email" class="form-label">Email</label>
                <div class="d-flex gap-2 align-items-center justify-content-between w-100">
                    <span>:</span>
                    <input type="text" id="email" name="email" class="form-control" [(ngModel)]="user.Email">
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label for="phone" class="form-label">Phone Number</label>
                <div class="d-flex gap-2 align-items-center justify-content-between w-100">
                    <span>:</span>
                    <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="user.PhoneNumber"
                    minlength="10" maxlength="11" appPhoneMask (input)="numbersOnlyValidator($event)">
                </div>
            </div>
        </form>
    </app-modal-layout>
</ng-template>

<!-- delete systemUser confirmation modal -->
<ng-template #systemUserDeleteModal>
    <app-modal-layout [title]="'Delete Role?'" [objAction]="[
	{ name: 'No', className: 'modal-cancel-button' }, 
	{ name: 'Yes' , className: 'danger-button' } 
	]" (onAction)="onRemoveUser($event,'id')">
        <div class="text-center font-11">Are you sure you want to remove this user?</div>
    </app-modal-layout>
</ng-template>