:host {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    color: #000;
    pointer-events: all;
    background-color: transparent;
    cursor: pointer;
}

::ng-deep .toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
}

::ng-deep .toast-top-right {
    top: 5px;
    right: 0;
}

.toast-close-button {
    color: #999;
    opacity: 1;
    text-decoration: none;
}

.toast-close-button:hover {
    color: #02ceff;
}

::ng-deep .toast-error,
::ng-deep .toast-info,
::ng-deep .toast-warning,
::ng-deep .toast-success {
    background-image: none;
}

.toaster {
    display: flex;
    color: var(--text-color);
    background-color: var(--text-white);
    width: 335px;
    min-height: 50px;
    /* min-height: 80px; */
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.5);
    margin: 5px 15px 5px 0;
}

.toaster .toast-icon {
    border-radius: 4px 0 0 4px;
}

.toaster .toast-icon::before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: var(--font-20);
    color: var(--text-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toaster .toast-icon.custom-toast-success {
    background-color: #67be4e;
}

.toaster .toast-icon.custom-toast-success::before {
    content: "\f058";
}

.toaster .toast-icon.custom-toast-success #warning-icon,
.toaster .toast-icon.custom-toast-success #info-icon,
.toaster .toast-icon.custom-toast-success #error-icon {
    display: none;
}

.toaster .toast-icon.custom-toast-warning {
    background-color: #ffc825;
}

.toaster .toast-icon.custom-toast-warning::before {
    content: "\f0f3";
    /* content: "\f071"; */
}

.toaster .toast-icon.custom-toast-warning #success-icon,
.toaster .toast-icon.custom-toast-warning #info-icon,
.toaster .toast-icon.custom-toast-warning #error-icon {
    display: none;
}

.toaster .toast-icon.custom-toast-error {
    background-color: #e9493f;
}

.toaster .toast-icon.custom-toast-error::before {
    content: "\f06a";
}

.toaster .toast-icon.custom-toast-error #success-icon,
.toaster .toast-icon.custom-toast-error #info-icon,
.toaster .toast-icon.custom-toast-error #warning-icon {
    display: none;
}

.toaster .toast-icon.custom-toast-info {
    background-color: #45a7e7;
}

.toaster .toast-icon.custom-toast-info::before {
    content: "\f05a";
}

.toaster .toast-icon.custom-toast-info #success-icon,
.toaster .toast-icon.custom-toast-info #error-icon,
.toaster .toast-icon.custom-toast-info #warning-icon {
    display: none;
}

.toast-icon {
    width: 50px;
    position: relative;
}

.toast-icon i {
    font-size: var(--font-20);
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-40%, -50%);
}

.toast-title {
    font-size: var(--font-10);
    font-weight: var(--weight-500);
}

.toast-message {
    font-size: var(--font-12);
    font-weight: var(--weight-600);
    line-height: 15px;
}

.toast-details {
    margin: 0 20px 0 10px;
    /* margin: 0 10px 0 20px; */
    display: flex;
    align-items: center;
    width: 235px;
}

.close-icon {
    position: relative;
}

.close-icon .toast-close-button {
    position: absolute;
    top: 5%;
    /* top: 15%; */
    color: var(--text-color);
    font-size: var(--font-20);
    font-weight: var(--weight-300);
}