:root {
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
    --weight-900: 900;
}

.weight-300 {
    font-weight: var(--weight-300) !important;
}

.weight-400 {
    font-weight: var(--weight-400) !important;
}

.weight-500 {
    font-weight: var(--weight-500) !important;
}

.weight-600 {
    font-weight: var(--weight-600) !important;
}

.weight-700 {
    font-weight: var(--weight-700) !important;
}

.weight-800 {
    font-weight: var(--weight-800) !important;
}

.weight-900 {
    font-weight: var(--weight-900) !important;
}