<div class="actions d-flex align-items-center justify-content-center gap-3" >
	<button type="button"   class="action-button edit" (click)="onDownloadAttachment()" tooltip="Edit"
		containerClass="tooltipClass"container="body" placement="top">
		<svg xmlns="http://www.w3.org/2000/svg" width="9.566" height="9.566" viewBox="0 0 9.566 9.566" style="fill: black;">
			<path id="Path_13828" data-name="Path 13828" d="M3,9.424V10.5a1.071,1.071,0,0,0,1.071,1.071H10.5A1.071,1.071,0,0,0,11.566,10.5V9.424M9.424,7.283,7.283,9.424m0,0L5.141,7.283M7.283,9.424V3" transform="translate(-2.5 -2.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
		  </svg>
		
	</button>
	<button type="button" class="action-button delete" (click)="deleteSystemUser()" tooltip="Delete"
		containerClass="tooltipClass" container="body" placement="top">
		<svg class="width-75p" xmlns="http://www.w3.org/2000/svg" width="14.831" height="16.497"
			viewBox="0 0 14.831 16.497">
			<path id="Path_654" data-name="Path 654"
				d="M16.5,6.333l-.722,10.116A1.666,1.666,0,0,1,14.113,18h-6.9a1.666,1.666,0,0,1-1.662-1.548L4.833,6.333M9,9.665v5m3.333-5v5m.833-8.332v-2.5A.833.833,0,0,0,12.332,3H9a.833.833,0,0,0-.833.833v2.5M4,6.333H17.331"
				transform="translate(-3.25 -2.25)" fill="none" stroke="#FC4D1E" stroke-linecap="round"
				stroke-linejoin="round" stroke-width="1.5" />
		</svg>
	</button>

	<!-- <button type="button" class="action-button grid view" tooltip="View Details" containerClass="tooltipClass"
		 container="body" placement="top" (click)="viewDetails()">
		<svg xmlns="http://www.w3.org/2000/svg" width="14.493" height="11.223" viewBox="0 0 14.493 11.223">
			<g id="eye" transform="translate(0 0)">
				<path id="Path_13718" data-name="Path 13718"
					d="M16.988,14.494A2.494,2.494,0,1,1,14.494,12a2.494,2.494,0,0,1,2.494,2.494Zm-1.247,0a1.247,1.247,0,1,1-1.247-1.247A1.247,1.247,0,0,1,15.741,14.494Z"
					transform="translate(-7.248 -8.882)" fill="#b9b9b9" fill-rule="evenodd" />
				<path id="Path_13719" data-name="Path 13719"
					d="M7.813,4.5a7.485,7.485,0,0,1,7.246,5.612,7.485,7.485,0,0,1-14.493,0A7.485,7.485,0,0,1,7.813,4.5Zm0,9.976a6.238,6.238,0,0,1-5.95-4.365,6.238,6.238,0,0,1,11.9,0A6.239,6.239,0,0,1,7.813,14.476Z"
					transform="translate(-0.567 -4.5)" fill="#b9b9b9" fill-rule="evenodd" />
			</g>
		</svg>
	</button> -->
</div>

