
.goBack-icon {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #838584;
    cursor: pointer;
    transition: all 0.3s ease;
}

.goBack-icon:hover {
    color: #000;
}

.goBack-icon svg {
    height: 15px;
    width: 15px;
}

.goBack-icon svg path {
    transition: all 0.3s ease;
}

.goBack-icon:hover svg path {
    fill: #000;
}

.goBack {
    font-size: var(--font-11);
    font-weight: var(--weight-400);
    line-height: normal;
}

.authentication-card {
    border: 2px solid #e6e6e6;
    border-radius: 25px;
    box-shadow: 0 0px 50px #00000010;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-30);
    padding: 55px 50px 30px;
}

.authentiaction-content{
    overflow: scroll;
}
a.theme-link {
    width: fit-content;
    color: #007660;
    text-decoration: none;
    font-size: var(--font-12);
    cursor: pointer;
    transition: all .3s ease;
}

.logo {
    position: absolute;
    top: 27px;
    width: 100%;
    left: 61px;
    font-size: 24px;
    font-weight: 700;
    color: #058d73eb;
    font-family: system-ui;
}

.mt-1{
    margin-top: -23px !important;

}

/* a.theme-link {
    width: fit-content;
    color: var(--theme-color);
    text-decoration: none;
    font-size: var(--font-12);
    cursor: pointer;
    transition: all .3s ease;
} */

a.theme-link:hover {
    color:#007660;
    text-decoration: underline;
}