<div class="main-highlight">
    <div class="highlight-wrapper">
        <div *ngFor="let counselor of counselors" class="highlight-card">
            <img class="highlight-img" 
                 [src]="counselor.Gender === 1 ? 'assets/img/male-counselor.jpg' : 'assets/img/female-counselor.jpg'" 
                 alt="{{ counselor.Name }}">
            <div class="highlight-desc">
                <h4>{{ counselor.Name }}</h4>
                <h6>{{ counselor.RoleName }}</h6>
                <p>Email: {{ counselor.Email }}</p>
                <p class="pera">Phone: +88 {{ counselor.PhoneNumber }}</p>
            </div>
        </div>
    </div>
</div>
