.highlight-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1%;
  width: 100%;
  border-radius: 8px;
}

.highlight-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 1%;
  box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
  border: 2px solid #e0e0e0;
  margin: 0;
  background: #f5f5f5;
}

.highlight-img {
  width: 73px;
  height: 81px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.highlight-desc h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
}

.highlight-desc p {
  color: var(--blackColor);
  font-size: 14px;
  line-height: 6px;
  font-weight: 400;
}

.highlight-card:hover {
  background-color: #6c757d1f;
  box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
}

.main-highlight {
  overflow-x: hidden;
  max-height: 100%;
}

.main-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: -9px;
}

.main-arrow {
  font-size: 20px;
}

h6 {
  font-size: 14px;
  font-weight: 700;
}
