<div class="main-highlight">
    <!---title section and arrow-->
    <div class="main-header">
    </div>
    <!---highlight menu--->
    <div class="highlight-wrapper">
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/doctor1.png" alt="">
            <div class="highlight-desc">
                <h4>Md.Shaphawat Hossain</h4>
                <h6>Student Counselor</h6>
                <p>Email: shaphawat.hossain&#64;northsouth.edu</p>
                <p class="pera">Ext: 1245</p>
            </div>
        </div>
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/istockphoto-1935658644-2048x2048.jpg" alt="">
            <div class="highlight-desc">
                <h4>Masuma Akter Sumi</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: masuma.sumi&#64;northsouth.edu</p>
                <p class="pera">Ext: 6021</p>
            </div>
        </div>
    </div>


    <div class="highlight-wrapper">
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8578391_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Saidul Islam</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: saidul.islam&#64;northsouth.edu</p>
                <p class="pera">Ext: 6016</p>
            </div>
        </div>
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8451270_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Niger Sultana</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: niger.sultana&#64;northsouth.edu</p>
                <p class="pera">Ext: 6017</p>
            </div>
        </div>
       
    </div>
    <div class="highlight-wrapper">
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8578391_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Saidul Islam</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: saidul.islam&#64;northsouth.edu</p>
                <p class="pera">Ext: 6016</p>
            </div>
        </div>
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8451270_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Niger Sultana</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: niger.sultana&#64;northsouth.edu</p>
                <p class="pera">Ext: 6017</p>
            </div>
        </div>
       
    </div>
    <div class="highlight-wrapper">
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8578391_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Saidul Islam</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: saidul.islam&#64;northsouth.edu</p>
                <p class="pera">Ext: 6016</p>
            </div>
        </div>
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8451270_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Niger Sultana</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: niger.sultana&#64;northsouth.edu</p>
                <p class="pera">Ext: 6017</p>
            </div>
        </div>
       
    </div>
    <div class="highlight-wrapper">
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8578391_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Saidul Islam</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: saidul.islam&#64;northsouth.edu</p>
                <p class="pera">Ext: 6016</p>
            </div>
        </div>
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8451270_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Niger Sultana</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: niger.sultana&#64;northsouth.edu</p>
                <p class="pera">Ext: 6017</p>
            </div>
        </div>
       
    </div>
    <div class="highlight-wrapper">
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8578391_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Saidul Islam</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: saidul.islam&#64;northsouth.edu</p>
                <p class="pera">Ext: 6016</p>
            </div>
        </div>
        <div class="highlight-card">
            <img class="highlight-img" src="assets/img/ai-generated-8451270_1280.png" alt="">
            <div class="highlight-desc">
                <h4>Niger Sultana</h4>
                <h6>Assistant Student Counselor</h6>
                <p>Email: niger.sultana&#64;northsouth.edu</p>
                <p class="pera">Ext: 6017</p>
            </div>
        </div>
       
    </div>
    
</div>
